<h3>ComputersList</h3>

@if (Computers == null)
{
    <p>Загрузка ...</p>
}
else
{
    <div class="list-group">
        @{
            var i = 1;
            foreach (var computer in Computers)
            {
                <button type="button" class="list-group-item list-group-item-action @(SelectedId == computer.ComputerId ? "active" : "")"
                        @onclick="@(e => Selected(e, computer.ComputerId))">
                    @(i++) - @computer.Name
                </button>
            } 
            }
    </div>
}
@code {
    [Parameter]
    public IEnumerable<ListViewModel> Computers { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<ListViewModel>> ComputersChanged { get; set; }

    private int SelectedId = 0;
    [Parameter]
    public EventCallback<int> SelectedObjectChanged { get; set; }
    private void Selected(MouseEventArgs e, int id)
    {
        SelectedId = id;
        SelectedObjectChanged.InvokeAsync(id);
    }
    }
